<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
  {% block title %}
  {% endblock title %}
</head>
<body>
  {% include 'navbar.html' %}
  {% block body %}
    
  {% endblock body %}
  {% include 'footer.html' %} 
  <script src="{% static './bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static './js/custom-js.js' %}"></script>
</body>
</html>