{% extends 'base.html' %}


{% block title %}
<title>
  seach-result
</title>
{% endblock title %}


{% block body %}
  
<div class="pd-4 bg-temp">
  <div class="row row-cols-1 row-cols-md-3 g-3 py-5">
    {% for info in data.results %}
    <div class="col">
      <div class="card">
        <img
          src="{{ info.image }}"
          class="card-img-top"
          alt="{{ info.name }}"
        />
        <div class="card-body">
          <h3 class="card-title">{{ info.name }}</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic nisi
            blanditiis eligendi ratione eveniet, nemo, corporis, quis id eaque
            praesentium voluptatem. Corporis facilis possimus ratione nesciunt
            repellendus commodi, voluptatum harum!
          </p>
        </div>
        <div class="d-flex justify-content-around mb-2 mt-3">
          <h4>{{ info.author }}</h4>
          <a href="{{ info.file }}">
            <button class="btn btn-bg-orange">Download</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="container d-flex justify-content-center">
    <a href="#">
      <button type="button" class="btn btn-bg-orange m-4">Previous</button>
    </a>
    <a href="#">
      <button type="button" class="btn btn-bg-orange m-4">Next</button>
    </a>
  </div>
</div>
{% endblock body %}
